<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.sword.common.mapper.DictMapper">


    <select id="getValueByKey" resultType="com.paper.sword.common.entity.Dict"
            parameterType="java.lang.Integer">
        select * from t_dict where `key` = ${key} and dict_name = "video"
    </select>
</mapper>
