<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.sword.common.mapper.MarkMapper">


    <select id="selectByUserIdAndType" resultType="java.lang.Integer">
        select mark
        from t_mark where user_id = ${userId} and type = ${type};
    </select>


    <select id="selectByUserId" resultType="java.util.Map" parameterType="java.lang.Integer">
        SELECT video_type,mark from t_mark WHERE user_id = 1 ORDER BY mark DESC limit 0,3;
    </select>
</mapper>
