<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.sword.mapper.FollowMapper">

    <resultMap id="BaseResultMap" type="com.paper.sword.user.entity.Follow">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="followUserId" column="follow_user_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,follow_user_id,
        create_time
    </sql>
    
    <select id="selectFollowList" resultType="com.paper.sword.user.entity.User">
        select user_name, header_url
        from t_follow f
        left join t_user u on f.follow_user_id = u.id
        where f.user_id = #{userId}
    </select>
</mapper>
