<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paper.sword.common.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.paper.sword.common.entity.Video">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="videoType" column="video_type" jdbcType="INTEGER"/>
            <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,video_type,
        video_url,like,collect,
        title,description,create_time
    </sql>
    <select id="selectUrlList" resultType="com.paper.sword.common.entity.Video">
        select id, video_url from t_video where id in (${json})
    </select>
</mapper>
